# Port number
PORT=8080

# Environment
NODE_ENV=development

# URL of the PostgreSQL/Supabase database
DATABASE_URL="postgresql://postgres:password@localhost:5432/leo_db?schema=public"

# CORS Origin
CORS_ORIGIN=http://localhost:3000

# JWT configuration
JWT_SECRET=thisisasamplesecret
JWT_ACCESS_EXPIRATION_MINUTES=30
JWT_REFRESH_EXPIRATION_DAYS=30
